
  #sidebar-wrapper {

    width: 300px;
    margin-top: var(--nav-height);
    height: var(--content-height);
    overflow: scroll;
    background-color: var(--sidenav-color) !important;
    color:var(--sedenav-text-color) !important;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    box-shadow:  0rem 1rem 1.5rem 0 rgb(161, 159, 159) !important;
    z-index: 1;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  nav{
    position:absolute;
    width: 100vw;
    overflow: hidden;
    z-index: 5 !important;
    height: var(--nav-height);
    background-color:var(--primary-color) !important;
    color:white !important;

    /* border-bottom: 1px solid rgb(241, 234, 234); */
    display:flex;
    justify-content: space-between;
    padding-right: 0 !important;
    align-items: center;
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%) !important;

  }
  .navbar{
    padding-left: 0 !important;
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%) !important;
  }
  #sidebar-wrapper{
    z-index:100 !important;
    padding-top:30px;
    font-size:.9rem;
    box-shadow: 1rem 0.5rem 1rem 0 black;
  }
  #sidebar-wrapper .sidebar-heading {
    /* padding: 0.875rem 1.25rem; */
    font-size: 1.2rem;
  }
  .list-group{
    display:flex;
    justify-content: space-between;
  }
  .flex{
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-weight: 500;
    font-size:16px;

  }

  .list-group-item{
    display:flex;
    justify-content: space-between;
    align-items:center;
    /* background:#574898; */
    color:var(--sidenav-text-color);
    width: 100%;
    border:none ;
    border-bottom: 1px solid #eee8e8;
    /* width:fit-content; */
  }
  .list-group-item:hover{
    color:rgb(0, 132, 255) !important;
  }
  .svg-inline--fa{
    color:grey;
  }
  .list-group-item:hover .svg-inline--fa{
    color:rgb(0, 132, 255) !important;
  }
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    background-color: var(--content-background);
    min-height: var(--content-height);
    margin-top: var(--nav-height);
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      /* min-width: 0; */
      padding:5px;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  .hostel-name{
    display:flex;

  }
  .hotel-name img{
    height: 50;
    justify-content: space-between;
  }
a{
  cursor: pointer;
}
a:hover{
  color:black !important;
  user-select: none;
}

.navbar-nav .nav-item{
  color:black !important;
  background-color: red !important;
}
.body-content{
  display: flex;

}
.fa-chevron-left{
  color:rgb(175, 174, 174);
}


.profile-image{
  display: flex;
  align-items: center;

}
.profile-image .user{
  margin-top:5px !important;
  margin-bottom: -10px;
}
.profile-image div:nth-child(1){
  height: 40;
  width: 40;
  padding:10px;
  padding-top:5px;
  margin-right: 10px;
  padding-bottom: 5px;
  background:rgb(228, 223, 223);
  border-radius: 50%;
  cursor: pointer;
  color:rgb(58, 58, 58);
}
.profile-image:hover{
  color: black;
}
.right-side{
  width:30vw;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-left: 0;
}

.fa-facebook-messenger{
  color:#ffffff;
  font-size: 25px;
}
.fa-bell{
  font-size:25px;
  color:white;
}
.elepsis{
  position:relative;
}
.elepsis div{
  position: absolute;
  top:10px;
  left:-100px;
  background-color: rgb(229, 226, 226);
  padding:5px 30px;
  border-radius: 7px;
}
.list-group-sub-item{
  font-size:1rem;
  border-bottom:0px;
}
.text-center{
  font-size: 1.4rem;
}
.container-fluid{
  background-color: green;
}
.fa-chevron-left{
  font-size: .7rem;
}
#page-content-wrapper{
  /* background-color: green; */
  padding:2rem;
  height: calc(var(--card-height) + 40px);
  overflow-y: scroll;
}
.nav .fas,.nav .far{
  color:white !important;
}
nav .fa-comment-dots{
  font-size: 24px;
  color:white !important;
}

*{
  user-select: none;
}
.notification{
  cursor: pointer;
}