
  <nav class="navbar bg-primary">
    <button class="btn" id="menu-toggle"><i class="fas fa-bars"></i></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a routerLinkActive="active" class="list-group-item list-group-item-action bg-primary  border-0"
            *ngIf="IsStudent|| IsAdmin">
            <i class="fas fa-user mr-3"></i>Welcome {{username}}
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class='d-flex'>
    <!-- Sidebar -->
    <div class="bg-primary border-right " id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a *ngFor="let item of adminSidenav" [routerLink]="[item.link]" (click)="sidebarClicked(item)" routerLinkActive="active"
          class="list-group-item list-group-item-action ">
          <div class="flex">
            <i [class]="'fas mr-2 fa-home'"></i>
            <div>
              {{item.name}}
            </div>
          </div>
          <!-- <i class="fas fa-arrow-left" aria-hidden="true"></i> -->
          <i *ngIf="item.directory" class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
       
      </div>
    </div>
    <div id="page-content-wrapper">
      <div class="container-fluid" style="padding: 5px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

