
  <nav class=" bg-primary">
    <button class="btn" id="menu-toggle">
      <nb-icon height="30" icon="menu-2-outline"></nb-icon>
    </button>
    <div class="text-center">
      <img src="../../../assets/icons/logo.png" height="40">
      Paschimanchal Campus Hostel
    </div>
    <div class="right-side">
      <i class="far fa-bell"></i>
      <i class="fab fa-facebook-messenger"></i>
      <div class="profile-image">
        <div><i class="fas fa-user"></i></div><div class="name">
          {{username}}
        </div> 
      </div>
      <div class="elepsis" (click)="showLogout=true">
        <i class="fas fa-ellipsis-v" >
        </i>
        <div *ngIf="showLogout" (click)="logout()">
          Logout
        </div>
      </div>
    </div>
</nav>
<div class="body-content">
  <!-- Sidebar -->
  <div class="bg-primary " id="sidebar-wrapper">
    <div class="li list-group-">
    

        <app-sidenav-item *ngFor="let item of adminSidenav" [item]="item"></app-sidenav-item>
    
    </div>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid" style="padding: 5px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
 

