
  <table class="table" *ngIf="paymentHistory">
    <thead>
      <tr>
        <td scope="col">Date</td>
        <td scope="col">Paid Amount</td>
        <td scope="col">Due Amount</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paymentHistory | paginate:{
        id:'payment_pagination',
        itemsPerPage:8,
        currentPage:page,
        totalItems:historyLength
      }">
        <td>{{item.date | date}}</td>
        <td>{{item.paidAmount}}</td>
        <td>{{item.dueAmount}}</td>
      </tr>
      </tbody>
      <div class="text-center">
        <pagination-controls id="payment_pagination" (pageChange)="page = $event"></pagination-controls>
      </div>
      </table>


      