<div class="grid">
  <div class="card card-rounded">
    <h5 class="text-center">Mess Info</h5>
    <div class="card-body">
      <b>Mess Operator: <div>Ramesh Dahal</div></b>
      <b>Mobile No: <div>9851652314</div> </b>
      <b>Address: <div>Batulechaur, Pokhara</div></b>
      <b>Email: <div>rameshdahal@gmail.com</div></b>
    </div>
    </div>
 
  <div class="card card-rounded">
    <h5 class="text-center">Mess Rules</h5>
    <div class="card-body">
      <ol>
        <li>Dining time Morning: 9am-11am</li>
        <li>Dining time Evening:	6pm-8pm</li>
        <li>Students must inform to cancel the meal in before hours.</li>
        <li>Students must clear their due amount of previous month within the first 10 days of current month.</li>
        <li>Student must appear in mess in the proper dining time.</li>
      </ol>
    </div>
  </div>
</div>