<div class="container mt-3">
  <div class="row">
    <div class="col-md-10 col-sm-6">
      <h3><i class="fab fa-megaport"></i>&nbsp;Availabe Streams</h3>
    </div>
    <div class="col-md-2 col-sm-6">
      <button class="btn btn-primary btn-block" (click)="onNewStream()">
        <i class="fa fa-plus"></i>&nbsp;New Stream
      </button>
    </div>
  </div><br/>
  <div class="row" *ngIf="!showLoader">
    <div class="col-md-12">
      <div class="card border-primary">
        <div class="card-body text-dark">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Stream Name</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of allStreams; let i = index;">
                  <td>{{i+1}}</td>
                  <td>{{item.streamName}}</td>
                  <td><i class="fas fa-trash text-danger" style="cursor: pointer" (click)="onDelete(item.$key)"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
  <div class="row" *ngIf="showLoader">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 4rem; height: 4rem;">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
