<div class="card card-rounded">
    <div *ngIf="myNotice" class="controls">
      <div (click)="editNotice()"><i class="far fa-edit"></i></div>
      <div (click)="deleteNotice()"><i class="far fa-trash-alt"></i></div>
    </div>
    <h5 >{{notice.noticeTitle}}</h5>
    <div class='date'>{{notice.publishedDate | date}}</div>
    <div class="card-body">
      {{notice.noticeContent}}
    </div>
    <div class="footer">
      <b>notice By:
        <div>{{notice.noticeBy}}</div>
      </b>
    </div>
  </div>