<div class="card">
  <div class="card-header">

    <h4><i class="fas fa-table mr-2"></i>Daily Consumption
    </h4>
  </div>
  <div class="grid">
    <div class='students'>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Students</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="selectStudent(item)" *ngFor="let item of messStudents" [class.selected]="isSelected(item)">
            <td>{{item.fullName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-area">
      <div *ngIf="paymentForm" class="card card-rounded">
        <form (submit)="submit()"  [formGroup]="paymentForm">
          <h4>Make Payment</h4>
          <h5>{{this.selectedStudent.fullName}}</h5>
          <div class="form-group">
            <input formControlName="paymentReceived" type="number" class="form-control">
            <div class="text-danger" *ngIf="getPaymentField!.hasError('required') && getPaymentField!.touched">
              Payment Amount Is Required
            </div>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-success">Pay</button>
          </div>
          <div class="footer">
            Due: {{currentStudentDue}}
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>