<div class="container mt-3">
  <div class="row" *ngIf="!showLoader">
    <div class="col-md-12 col-sm-12">
      <div class="card border-primary">
        <div class="card-header text-center">
          <h4><i class="fas fa-pencil-alt mr-2"></i>Edit Allocations</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>User Name</th>
                  <th>Room No</th>
                  <th>Contact</th>
                  <th>Stream</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of allocatedUsers; let i = index;">
                  <td>{{i+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.roomNo}}</td>
                  <td>{{item.contact}}</td>
                  <td>{{item.streamName}}</td>
                  <td><i class="fas fa-pen text-primary" style="cursor: pointer;"
                    data-toggle="modal" data-target="#exampleModal" (click)="initEdit(item)"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div><br/><br/>
  <div class="row" *ngIf="showLoader">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 4rem; height: 4rem;">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Allocation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="allocationForm" (ngSubmit)="onSubmit()" >
          <div class="form-group">
            <label for="room">Select Room</label>
            <select name="room" id="room" class="form-control" formControlName="roomNo">
              <option [ngValue]="null">{{previousAllocatedRoom}} - (Current Room)</option>
              <option value="Not Allocated">Remove Allocation</option>
              <option *ngFor="let item of availableRooms" [value]="item.roomNo">{{item.roomNo}} - ({{item.remainingCapacity}}) available</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" [disabled]="!allocationForm.valid" *ngIf="!showModalLoader">
                <i class="fas fa-thumbtack mr-2"></i>Allocate
            </button>
            <button class="btn btn-primary btn-block" type="button" disabled *ngIf="showModalLoader">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Please wait...
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
