<div *ngIf="foundUser" class="card usercard card-rounded">
  <img src="../../../../assets/icons/avatar.png" height=120>
  <div class="details">
    <h3>{{foundUser?.fullName}}</h3>
   
    <div class="grid">
      <div>
        <h5><b>General Details</b></h5>
        <b>Gender:<div>Male</div></b>
        <b>D.O.B:<div>{{foundUser?.dob}}</div></b>
        <b>Faculty:<div>BEX</div></b>
        <b>Batch:<div>{{foundUser?.batch}}</div></b>
        <b>College Roll No:<div>{{foundUser?.rollNo}}</div></b>
        <b>Mobile No: <div>{{foundUser?.contact}}</div> </b>
        <b>Address: <div>{{foundUser?.address}}</div></b>
        <b>Father's Name:<div>{{foundUser?.fathersName}}</div></b>
        <b>Father's Contact:<div>{{foundUser?.fathersContact}}</div></b>
        <div *ngIf="foundUser?.password" class="password-input">
          <b>Password: </b> 
          <input type="password" #passwordField [value]="foundUser?.password">
          <div (click)="togglePasswordShow()">
            <i class="far fa-eye"></i>
          </div>
        </div>
      </div>

    </div>  
  </div>
</div>
<div class="card card-rounded">
  <div class="second-card">

    <div>
      <h5><b>Hostel Details</b></h5>
      <b>Entry Date:<div>2074-10-02</div></b>
       <b>Block:<div>A</div></b>
       <b>Room No:<div>305</div></b>
       <b>Is In Mess:<div>{{foundUser?.isInMess}}</div></b>
     </div>
  </div>
</div>

