<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="card border-primary">
        <div class="card-header text-center">
            <h4><i class="fas fa-user-plus"></i> &nbsp;Create User</h4>
        </div>
        <div class="card-body text-dark">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
            <div class="form-row">
              <div class="form-group col-md-4 col-sm-6">
                <label for="name">Full name*</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-user"></i>
                    </div>
                  </div>
                  <input type="text" class="form-control" id="name" formControlName="name">
                </div>
                <div class="form-text text-danger" *ngIf="!userForm.get('name').valid && userForm.get('name').touched">
                  Please enter a valid name
                </div>
              </div>
              <div class="form-group col-md-4 col-sm-6">
                  <label for="stream">Stream*</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                          <i class="fab fa-megaport"></i>
                      </div>
                    </div>
                    <select class="form-control" id="stream" formControlName="streamName">
                      <option selected [ngValue]="null">Select</option>
                      <option *ngFor="let item of streamsDD" [value]="item.streamName">{{item.streamName}}</option>
                    </select>
                  </div>
                  <div class="form-text text-danger" *ngIf="!userForm.get('streamName').valid && userForm.get('streamName').touched">
                    Please select a stream
                  </div>
              </div>
              <div class="form-group col-md-4 col-sm-6">
                  <label for="email">Email*</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                          <i class="fas fa-at"></i>
                      </div>
                    </div>
                    <input type="text" class="form-control" id="email" formControlName="email">
                  </div>
                  <div class="form-text text-danger" *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">
                    Email cannot be blank
                  </div>
                  <div class="form-text text-danger" *ngIf="userForm.get('email').hasError('email') && userForm.get('email').touched">
                    Please enter a valid email
                  </div>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 col-sm-6">
                    <label for="Contact">Contact*</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-phone-square"></i>
                        </div>
                      </div>
                      <input type="text" class="form-control" id="Contact" formControlName="contact">
                    </div>
                    <div class="form-text text-danger" *ngIf="userForm.get('contact').hasError('required') && userForm.get('contact').touched">
                      Contact cannot be blank
                    </div>
                    <div class="form-text text-danger" *ngIf="userForm.get('contact').hasError('minlength') && userForm.get('contact').touched">
                      Please enter a valid 10 digit Mobile number
                    </div>
                    <div class="form-text text-danger" *ngIf="userForm.get('contact').hasError('maxlength') && userForm.get('contact').touched">
                      Please enter a valid 10 digit Mobile number
                    </div>
                </div>
                <div class="form-group col-md-4 col-sm-6">
                  <label for="Password">Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-key"></i>
                      </div>
                    </div>
                    <input type="password" class="form-control" id="Password" formControlName="password">
                  </div>
                  <div class="form-text text-danger" *ngIf="userForm.get('password').hasError('required') && userForm.get('password').touched">
                    Password cannot be blank
                  </div>
                  <div class="form-text text-danger" *ngIf="userForm.get('password').hasError('minlength') && userForm.get('password').touched">
                    The password should have minimum 4 characters
                  </div>
              </div>
                <div class="form-group col-md-4 col-sm-6">
                    <label for="address">Address</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-address-card"></i>
                        </div>
                      </div>
                      <textarea type="text" class="form-control" id="address" cols="3" formControlName="address">

                      </textarea>
                    </div>
                    <div class="form-text text-danger" *ngIf="userForm.get('address').hasError('required') && userForm.get('address').touched">
                      Address cannot be blank
                    </div>
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-2 col-sm-6 offset-md-8">
                <button class="btn btn-primary btn-block" type="submit" [disabled]="!userForm.valid" *ngIf="!showLoader && mode === 'new'">
                  <i class="fa fa-save"></i>&nbsp; Submit
                </button>

                <button class="btn btn-primary btn-block" type="submit" [disabled]="!userForm.valid" *ngIf="!showLoader && mode === 'edit'">
                  <i class="fa fa-save"></i>&nbsp; Save
                </button>

                <button class="btn btn-primary btn-block" type="button" disabled *ngIf="showLoader">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Please wait...
                </button>

              </div>
              <div class="form-group col-md-2 col-sm-6">
                  <button class="btn btn-secondary btn-block" (click)="onCancel()">
                    <i class="fa fa-ban"></i>&nbsp; Cancel
                  </button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
