<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
        <div class="card border-primary">
            <div class="card-header">
              <h4><i class="fas fa-pen"></i>&nbsp; New Stream</h4>
            </div>
            <div class="card-body">
              <form [formGroup]="streamForm" (ngSubmit)="onSubmit()" >
                <div class="form-row">
                    <div class="form-group col-md-4 col-sm-6">
                        <label for="Stream">Stream Name</label>
                        <input type="text" class="form-control" id="Stream" formControlName="streamName">
                        <div class="form-text text-danger" *ngIf="!streamForm.get('streamName').valid && streamForm.get('streamName').touched">
                          Please provide Stream name
                        </div>
                      </div>
                      <div class="form-group col-md-2 col-sm-3 mt-2">
                        <br/>
                        <button class="btn btn-primary btn-block" type="submit" *ngIf="!showLoader" [disabled]="!streamForm.valid">
                          <i class="fa fa-plus"></i>&nbsp;Add
                        </button>

                        <div class="d-flex justify-content-center" *ngIf="showLoader">
                          <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>

                      </div>
                      <div class="form-group col-md-2 col-sm-3 mt-2">
                          <br/>
                          <button class="btn btn-secondary btn-block" type="button" (click)="onCancel()">
                            <i class="fa fa-ban"></i>&nbsp;Cancel
                          </button>
                        </div>
                </div>

              </form>
            </div>
          </div>
    </div>

  </div>
</div>

<div class="toast">
  <div class="toast-header">
    Toast Header
  </div>
  <div class="toast-body">
    Some text inside the toast body
  </div>
</div>
