.coverHome{
  /* background-image: linear-gradient(145deg,rgba(231, 116, 39, 0.8),rgba(66, 164, 245, 0.8)) ,url(../../../assets/hostel-8.jpg); */
  background-image: linear-gradient(145deg,rgba(216, 222, 231, 0.897),rgba(66, 164, 245, 0.8)) ,url(../../../assets/hostel-8.jpg);
 /* background-color: #1976d2;
 background: linear-gradient(145deg,#0d47a1,#42a5f5);
 color: #fff; */
 background-size: cover;
 background-position: top;
 height: 100vh;
 /* clip-path: polygon(0 0, 100% 0,100% 90vh,0 100%); */
 position: relative;
}

.heading-primary{
 color: #fff;
 text-transform: uppercase;
 backface-visibility: hidden;
 margin-bottom: 60px;
}

.heading-primary-main{
 display: block;
 font-size: 30px;
 font-weight: 400;
 letter-spacing: 25px;
 margin-bottom: 30px;
 animation: moveInLeft 1s ease-out;
}

.heading-primary-sub{
 display: block;
 font-size: 18px;
 font-weight: 700;
 letter-spacing: 5px;
 animation: moveInRight 1s ease-out;
}

.text-box{
 position: absolute;
 top: 40%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
}

@keyframes moveInLeft{
 0%{
     opacity: 0;
     transform: translateX(-100px);
 }
 80%{
     transform: translateX(10px);
 }
 100%{
     opacity: 1;
     transform: translate(0);
 }
}

@keyframes moveInRight{
 0%{
     opacity: 0;
     transform: translateX(100px);
 }
 80%{
     transform: translateX(-10px);
 }
 100%{
     opacity: 1;
     transform: translate(0);
 }
}
