<div class="card card-rounded">
  <div class="card-header">

  <h4><i class="fas fa-user-cog mr-2"></i>Open Issues</h4>
  </div>

  <div class="tabs">
    <div >
      <a (click)="showPending()" [class.tab-active]="">
        <i class="fas fa-user-friends"></i>
        Pending</a>
      <div *ngIf="pending" class="underline"></div>
    </div>
    <div > 

      <a (click)="showResolved()" [class.tab-active]="resolved">
        <i class="fas fa-utensils"></i>

        Resolved </a>
      <div *ngIf="resolved" class="underline"></div>
    </div>
    <div >
      <a (click)="showAll()" [class.tab-active]="all">
        <i class="fas fa-user-cog"></i>
        All</a>
      <div *ngIf="all" class="underline"></div>

    </div>
  </div>
  <app-all-queries [queries]="queries" [error]="error" [prop]="true"></app-all-queries>

</div>