<div class="card">
  <div class="card-header">
    
    <h4><i class="fas fa-table mr-2"></i>Price Table</h4>
  </div>
  <table class="table">
    <thead>
      <tr>

        <th scope="col">Items</th>
        <th scope="col">Price</th>
        <th *ngIf="!from" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of prices">
        <td>{{item.foodName}}</td>
        <td>Rs.{{item.price}}</td>
        <th *ngIf="!from" class="row">
          <edit-icon (click)="editMenu(item)"></edit-icon>
          <div (click)="deleteMenu(item._id)">
            <i class="fas fa-trash"></i>
          </div>
      </th>
      </tr>
    </tbody>
  </table>
  <app-floating-button *ngIf="!from"  (click)="addMenu()">
    <i class="fa fa-plus" style="font: 15px"></i>
</app-floating-button> 
  <jw-modal *ngIf="!from"  id="custom-modal-priceTable"  width="600px">
   <app-add-price></app-add-price>
 </jw-modal>
</div>