<div class="card">
  <div class="card-header bg-primary text-white">
    <h4><i class="fas fa-home mr-2"></i> Available Room List</h4>
  </div>
  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">RoomName</th>
        <th scope="col">Block</th>
        <th scope="col">Students</th>
        <th scope="col">Table</th>
        <th scope="col">Chair</th>
        <th scope="col">Bed </th>
        <th scope="col">Wardrobe</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of roomList| paginate:{
            id:'room_pagination',
            itemsPerPage:7,
            currentPage:page,
            totalItems:totalRooms
          }">
        <td>{{room.roomName}}</td>
        <td>{{room.block}}</td>
        <td>{{room.students[0]?.fullName}} , {{room.students[1]?.fullName}}</td>
        <td>{{room.assets.table}}</td>
        <td>{{room.assets.chair}}</td>
        <td>{{room.assets.bed}}</td>
        <td>{{room.assets.wardrobe}}</td>
        <th scope="row">
          <edit-icon (click)="editRoom(room.roomName)"></edit-icon>
        </th>
      </tr>
      <app-table-skeleton-loader rows=5 cols=8 *ngIf="showSkeleton"></app-table-skeleton-loader>

    </tbody>
  </table>
  <div class="text-center">
    <pagination-controls id="room_pagination" (pageChange)="page = $event"></pagination-controls>
  </div>
</div>