<div>
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header bg-primary text-white">
          <h4><i class="fas fa-user-cog mr-2"></i> {{componentName}}</h4>
        </div>
        <div class="card-body">
          <form *ngIf="roomForm" [formGroup]="roomForm" (ngSubmit)="onSubmit()">
            <div class="form-group    ">
              <label for="roomName">Room Name*</label>
              <input type="text" class="form-control" id="roomName" formControlName="roomName">
              <div class="form-text text-danger"
                *ngIf="roomForm.get('roomName').hasError('required') && roomForm.get('roomName').touched">
                Room Name cannot be blank
              </div>
            </div>
            <div class="form-group    ">
              <label for="block">Block*</label>
              <select type="block" class="form-control" value="A" id="block" formControlName="block">
               <option *ngFor="let key of keys" [value]="key">{{key}}</option>
              </select>
              <!-- <div class="form-text text-danger"
                *ngIf="roomForm.get('block').hasError('required') && roomForm.get('block').touched">
                Block cannot be blank
              </div> -->
            </div>
            <div formGroupName="assets">
             
              <div class="form-group">
                <label for="tables">Tables*</label>
                <input type="number" class="form-control" id="tables" formControlName="table">
                <!-- <div class="form-text text-danger"
                  *ngIf="roomForm.assets.get('table').hasError('required') && roomForm.assets.get('table').touched">
                  Tables Field cannot be blank
                </div> -->
              </div>
              <div class="form-group    ">
                <label for="chair">Chairs*</label>
                <input type="number" class="form-control" id="chair" formControlName="chair">
                <!-- <div class="form-text text-danger"
                  *ngIf="roomForm.assets.get('chair').hasError('required') && roomForm.assets.get('chair').touched">
                  Chairs Field cannot be blank
                </div> -->
              </div>
              <div class="form-group    ">
                <label for="wardrobe">Tables*</label>
                <input type="number" class="form-control" id="wardrobe" formControlName="wardrobe">
                <!-- <div class="form-text text-danger"
                  *ngIf="roomForm.assets.get('wardrobe').hasError('required') && roomForm.assets.get('wardrobe').touched">
                  Wardrobe Field cannot be blank
                </div> -->
              </div>
              <div class="form-group    ">
                <label for="bed">Beds*</label>
                <input type="number" class="form-control" id="bed" formControlName="bed">
                <!-- <div class="form-text text-danger"
                  *ngIf="roomForm.assets.get('bed').hasError('required') && roomForm.assets.get('bed').touched">
                  Beds Field cannot be blank
                </div> -->
              </div>
              <div class="form-group    ">
                <label for="wardrobe">Wardrobe*</label>
                <input type="number" class="form-control" id="wardrobe" formControlName="wardrobe">
                <!-- <div class="form-text text-danger"
                  *ngIf="roomForm.assets.get('wardrobe').hasError('required') && roomForm.assets.get('wardrobe').touched">
                  Wardrobe Field cannot be blank
                </div> -->
              </div>
             </div>
            <!-- <div formGroupName="students">
              <div class="form-group    ">
                <label for="student1">Student1*</label>
                <input type="text" class="form-control" id="student1" formControlName="student1">
               
              </div>
              <div class="form-group">
                <label for="student2">Student2*</label>
                <input type="text" class="form-control" id="student2" formControlName="student2">
               
              </div> 
            </div> -->
            
            
            <div formArrayName="students">
              <div class="form-group">
                <label for="">Students</label>
                <div *ngFor="let student of students.controls; let i=index">
               
                    <div class="form-group    ">
                      <input type="text" placeholder="RollNo of Student" class="form-control" id="student1" [formControlName]="i">
                    </div>
                </div>
              </div>
              </div>
            <div class="form-group    ">
              <button class="btn btn-primary btn-block" type="submit" >
                <i class=" mr-2">Submit</i>
              </button>

              <!-- <div class="text-center" *ngIf="showLoader">
                <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>