
  <div class="notice-list">
      <ul class="" *ngIf="queries;else noNotices">
          <li (click)="fullQuery(item)" class="list-group-ite" *ngFor="let item of queries | paginate:{
            id:'query_pagination',
            itemsPerPage:dataLenToShow,
            currentPage:page,
            totalItems:totalQueries }
        ">
            <div>{{item.queryTitle}}</div> <span>{{item.queryDate | date}}</span></li>              
      </ul>
  </div>
  <div *ngIf="showPagination" class="text-center">
    <pagination-controls id="query_pagination" (pageChange)="page = $event"></pagination-controls>
  </div>

<ng-template #noNotices>
  <ul>
      <li class="text-center">Loading</li>
  </ul>
</ng-template>
<ng-template *ngif="error" class="text-center" #errorTemplate>
  <div class="text-center">
    {{error}}
  </div>
</ng-template>
<app-floating-button *ngIf="showAddQuery" (click)="openModal('custom-modal-3')">
  <i class="fa fa-plus" style="font: 15px"></i>
</app-floating-button>
<jw-modal  id="custom-modal-3" width="500px">
  <app-add-post  [query]="selectedQuery"></app-add-post>
</jw-modal>
<jw-modal  id="custom-modal-5" width="500px">
  <app-show-query  [query]="selectedQuery"></app-show-query>
</jw-modal>
