@import "../all-queries/all-queries.component.scss";



li div{
    display:grid;
    grid-template-columns: 5fr 2fr;
}
li{
    position: relative;
}
.card{
    min-height: calc(var(--half-content-height) + 100px) !important;
}
.controls{
    position:absolute;
    // top:20px;
    right:20px;
    display:flex;
    width:80px;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
    
}
.controls div{
    display:flex;
    justify-content: center;
    align-items: center;
    height:30px;
    width:30px;
    border-radius:50%;
    background-color: rgba(0, 0, 0, 0.527);
    color: white !important;
}
.controls div i{
    color:white !important;
}
.controls div:hover{
    background-color: rgb(0, 204, 255);
}
.controls div:nth-child(2):hover{
    background: rgb(214, 14, 14);
}


