<div class="card card-rounded">
  <div *ngIf="myQuery" class="controls">
    <div (click)="editQuery()"><i class="far fa-edit"></i></div>
    <div (click)="deleteQuery()"><i class="far fa-trash-alt"></i></div>
    <div (click)="makeResolved()"><i class="far fa-check-circle"></i></div>
  </div>
  <h5 >{{query.queryTitle}}</h5>
  <div class='date'>{{query.queryDate | date}}</div>
  <div class="card-body">
    {{query.queryContent}}
  </div>
  <div class="footer">
    <b>Query By:
      <div>{{query.studentId}}</div>
    </b>
    <b>Status:
      <div>{{query.resolveStatus}}</div>
    </b>
    <b>Room No:
      <div>{{query.roomNo}}</div>
    </b>
  </div>
</div>