<div class="container mt-3">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card border-primary">
        <div class="card-header bg-primary text-white">
          <h4><i class="fas fa-user-circle mr-2"></i>User Profile</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="!mainLoader">
            <div class="form-group col-md-4 col-sm-6 offset-md-4 offset-sm-3">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="form-group col-md-4 col-sm-6 offset-md-4 offset-sm-3">
              <label for="Stream">Stream</label>
              <input type="text" class="form-control" id="Stream" formControlName="streamName">
            </div>
            <div class="form-group col-md-4 col-sm-6 offset-md-4 offset-sm-3">
              <label for="Email">Email</label>
              <input type="text" class="form-control" id="Email" formControlName="email">
            </div>
            <div class="form-group col-md-4 col-sm-6 offset-md-4 offset-sm-3">
              <label for="Contact">Contact</label>
              <input type="text" class="form-control" id="Contact" formControlName="contact">
            </div>
            <div class="form-group col-md-4 col-sm-6 offset-md-4 offset-sm-3">
              <label for="Address">Address</label>
              <input type="text" class="form-control" id="Address" formControlName="address">
            </div>
            <div class="form-group col-md-4 col-sm-6 offset-md-4 offset-sm-3">
              <label for="room">Room No</label>
              <input type="text" class="form-control" id="room" disabled formControlName="roomNo">
            </div>
            <div class="form-group col-md-4 col-sm-6 offset-md-4 offset-sm-3">
              <label for="Password">Password</label>
              <input type="password" class="form-control" id="Password" [value]="currentUser?.password" formControlName="password">
              <div class="form-text text-danger" *ngIf="userForm.get('password').hasError('required') && userForm.get('password').dirty">
                Password cannot be blank
              </div>
              <div class="form-text text-danger" *ngIf="userForm.get('password').hasError('minlength') && userForm.get('password').dirty">
                Password should be minimum 6 characters
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 offset-md-4 offset-sm-3">
              <button class="btn btn-primary btn-block" [disabled]="!userForm.valid || userForm.dirty && !userForm.valid" *ngIf="!showLoader">
                <i class="fa fa-save mr-3"></i>Save
              </button>

              <div class="text-center" *ngIf="showLoader">
                <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </form>
          <div class="text-center" *ngIf="mainLoader">
            <div class="spinner-border text-primary" role="status" style="width: 4rem; height: 4rem;">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
