.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.notices{
    display:flex;
    flex-direction: column;
    // justify-content: space-between;
}

.student-queries,.notices{
    height: var(--content-height);
}

h5{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1rem;
    background-color: var(--primary-color);
    color:white;
}