<div class="card">

<div class="flex">
  <form (submit)="getCredentials()" [formGroup]="user">
    <h4 class="mb-3"><i class="fas fa-key mr-2"></i> Authentication Credentials</h4>
    <div class="input-place">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Enter UserName or RollNo . " formControlName="userName">
    </div>
    <div *ngIf="user.invalid" class="text-danger">UserName or RollNo is required</div>
    <button [disabled]="user.invalid">Search</button>
  </form>
  <div *ngIf="foundUser" class="card usercard card-rounded">
    <img src="../../../../assets/icons/logo.png" height=200>
    <div class="details">
      <h3>{{foundUser?.fullName}}</h3>
      <br>
      <div class="grid">
        <div>
          <h5>General Details</h5>
          <b>Gender:<div>Male</div></b>
          <b>D.O.B:<div>{{foundUser?.dob}}</div></b>
          <b>Faculty:<div>BEX</div></b>
          <b>Batch:<div>{{foundUser?.batch}}</div></b>
          <b>College Roll No:<div>{{foundUser?.rollNo}}</div></b>
          <b>Father's Name:<div>Govinda Prasad Adhikari</div></b>
          <b>Address: <div>{{foundUser?.address}}</div></b>
          <b>Mobile No: <div>{{foundUser?.contact}}</div> </b>
          
          <div *ngIf="foundUser?.password" class="password-input">
            <b>Password: </b> 
            <input type="password" #passwordField [value]="foundUser?.password">
            <div (click)="togglePasswordShow()">

              <i class="far fa-eye"></i>
            </div>
          </div>
        </div>
        <div>
         <h5>Hostel Details</h5>
         <b>Entry Date:<div>2074-10-02</div></b>
          <b>Block:<div>A</div></b>
          <b>Room No:<div>305</div></b>
          <b>Is In Mess:<div>{{foundUser?.isInMess}}</div></b>
        </div>
      </div>
    </div>
  </div>
</div>


</div>