<div class="card">
  <div class="card-header  text-white">
    <h4><i class="fas fa-key mr-2"></i> Authentication Credentials</h4>
    <div class="card-header-controls">
    </div>
  </div>

<div class="tabs">
  <div>
    <a (click)="credential('student')" [class.tab-active]="isStudent">
      <i class="fas fa-user-friends"></i>
      Students</a>
      <div *ngIf="isStudent" class="underline"></div>
  </div>
  <div>

    <a (click)="credential('messstaff')" [class.tab-active]="isMesh">
      <i class="fas fa-utensils"></i>

      Mess </a>
      <div *ngIf="isMesh" class="underline"></div>

    </div>
    <div>
    <a (click)="credential('hostelstaff')" [class.tab-active]="isHostel">
      <i class="fas fa-user-cog"></i>
      Staff</a>
      <div *ngIf="isHostel" class="underline"></div>

  </div>
</div>


</div>