<div class="card test">

<div class="flex">
  <form  (submit)="getCredentials()" [formGroup]="user">
    <h4 class=""><i class="fas fa-key mr-2"></i> {{title}}</h4>
    <div class="input-place">
      <i  class="fas fa-search"></i>
      <input type="text" placeholder="Enter UserName or RollNo . " formControlName="userName">
    </div>
   
    <div *ngIf="user.invalid" class="text-danger">UserName or RollNo is required</div>
   <br>
    <button [disabled]="user.invalid">Search</button>
    <!-- <br><br> -->
  </form>
  <app-student-credentials  *ngIf="foundUser" [foundUser]="foundUser"></app-student-credentials>
  <ng-content></ng-content>
</div>
</div>