.password-place{
    display: flex;
    flex-direction: column;
    height: var(--content-height);
    align-items: center;
    justify-content: center;

}
.card{
    min-height: 0 !important;
    width: 350px;
}