<div class="container mt-3">
  <div class="row">
    <div class="col-md-10 col-sm-6">
      <h3><i class="fas fa-bed"></i>&nbsp; Manage Rooms</h3>
    </div>
    <div class="col-md-2 col-sm-6">
      <button class="btn btn-primary btn-block" (click)="onCreateRoom()">
        <i class="fa fa-plus"></i>&nbsp; New Room
      </button>
    </div>
  </div><br/>
  <div class="row" *ngIf="!showLoader">
    <div class="col-md-12 col-sm-12">
      <div class="card border-primary">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Room Number</th>
                        <th>Total Capacity</th>
                        <th>Remaining Capicity</th>
                        <th>Delete Room</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of roomsList; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{item.roomNo}}</td>
                        <td>{{item.totalCapacity}}</td>
                        <td>{{item.remainingCapacity}}</td>
                        <td><i class="fas fa-trash text-danger" style="cursor: pointer" (click)="onDeleteRoom(item.$key)"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
      </div>

    </div>
  </div>
  <br/><br/>
  <div class="row" *ngIf="showLoader">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 4rem; height: 4rem;">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
