<div class="container mt-3">
  <div class="row">
    <div class="col-md-10 col-sm-6">
      <h3><i class="fas fa-hands-helping mr-2"></i>Staff List</h3>
    </div>
    <div class="col-md-2 col-sm-6">
      <button class="btn btn-primary btn-block" (click)="onAddStaff()">
        <i class="fa fa-plus mr-2"></i>Add staff
      </button>
    </div>
  </div><br/>
  <div class="row" *ngIf="!showLoader">
    <div class="col-md-12">
      <div class="card border-primary">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Name</th>
                  <th>Contact</th>
                  <th>Address</th>
                  <th>Department</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of staffList; let i = index;">
                  <td>{{i+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.contact}}</td>
                  <td>{{item.address}}</td>
                  <td>{{item.department}}</td>
                  <td><i class="fas fa-user-edit" style="cursor: pointer;" (click)="onEditStaff(item.$key)"></i></td>
                  <td><i class="fas fa-user-times text-danger" style="cursor: pointer" (click)="onDeleteStaff(item.$key)"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
  <div class="row" *ngIf="showLoader">
    <div class="col-md-12">
      <div class="text-center">
        <div class="spinner-border text-primary" style="width: 4rem; height: 4rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
